server:
  port: 8080

spring:
  application:
    name: jangmo-community-project
  profiles:
    active: local
  main:
    allow-circular-references: true
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  messages:
    basename: i18n/messages
    encoding: UTF-8
    cacheDuration: 3
    alwaysUseMessageFormat: true
    useCodeAsDefaultMessage: true
    fallbackToSystemLocale: true
sms:
  api:
    key: ${SMS_API_KEY}
    secret: ${SMS_API_SECRET}
    sender: ${JANGMO_ADMIN_MOBILE:01043053451}
    auth-content: "[Jangmo] 인증번호 [{authCode}]를 입력해주세요."
    mercenary-content: "[Jangmo] 용병코드는 [{mercenaryCode}]입니다."
kakao:
  rest:
    api:
      key: ${KAKAO_REST_API_KEY}
      uri: "https://dapi.kakao.com/v2/local/search/"
lotto:
  api:
    uri:
jangmo:
  jwt:
    secret: ${JANGMO_JWT_SECRET}
    valid-time: ${JANGMO_JWT_VALID_TIME:2h}
  admin:
    name: "황준상"
    mobile: ${JANGMO_ADMIN_MOBILE:01043053451}
    password: ${JANGMO_ADMIN_PASSWORD}
